<div class="container mt-5 mb-5 pt-auto">
    <div class="card border-secondary mb-3">
        <div class="card-header">Phone Number</div>
        <div class="card-body text-secondary">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <select id="formInput48" class="form-control">
                            <option>911234563</option>
                            <option>911884569</option>
                            <option>919934770</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary">New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-text-top" style="margin-top: 5; margin-bottom: 5;">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body " >
                    <div *ngFor="let mi of this.menuElements" >
                    <h6 >{{mi.menuItem.selector}}.{{mi.displayTexts.amharic}} </h6>
                    </div>
                </div>
                </div>
            </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">Input</div>
        <div class="card-body">
            <div class="row" style="margin-top: 5; margin-bottom: 15;">
                <div class="col-md-4">

                                <input type="text" class="form-control" name="fname" [(ngModel)]="input" placeholder="Input" >
                            </div>
                <div class="col-md-4">
                    <button type="button" (click)="getNextMenu()" class="btn btn-success">Enter</button>



                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body align-self-end">
            <button type="button" class="btn btn-danger">Reset</button>
            <button type="button" class="btn btn-warning ml-4 mr-4">Clear History</button>
        </div>
    </div>
    <div class="card" style="margin-top: 20;">
        <div class="card-header">History
</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-dark mb-3 pg-lib-item">
                        <div class="card-header border-dark">እንኳን በደህና መጡ!"</div>
                        <div class="card-body  border-dark">
                            <h5 class="card-title">1 መረጃ ለማስገባት</h5>
                            <h5 class="card-title">2 መረጃ ለማግኘት </h5>
                        </div>
                        <div class="card-footer bg-transparent  border-dark">2</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark mb-3 pg-lib-item">
                        <div class="card-header border-dark">እንኳን በደህና መጡ!"</div>
                        <div class="card-body  border-dark">
                            <h5 class="card-title">1 መረጃ ለማስገባት</h5>
                            <h5 class="card-title">2 መረጃ ለማግኘት </h5>
                        </div>
                        <div class="card-footer bg-transparent  border-dark">2</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark mb-3 pg-lib-item">
                        <div class="card-header border-dark">እንኳን በደህና መጡ!"</div>
                        <div class="card-body  border-dark">
                            <h5 class="card-title">1 መረጃ ለማስገባት</h5>
                            <h5 class="card-title">2 መረጃ ለማግኘት </h5>
                        </div>
                        <div class="card-footer bg-transparent  border-dark">2</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-dark mb-3 pg-lib-item">
                        <div class="card-header border-dark">እንኳን በደህና መጡ!"</div>
                        <div class="card-body  border-dark">
                            <h5 class="card-title">1 መረጃ ለማስገባት</h5>
                            <h5 class="card-title">2 መረጃ ለማግኘት </h5>
                        </div>
                        <div class="card-footer bg-transparent  border-dark">2</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
