<p>builder</p>

<!-- <div   ng-repeat="  col in [1,2,3,4,5]"> -->
    <!-- class="overflow-auto"  -->
    <div class="container-fluid">
    <div class="row">
        <div  class=" overflow-auto col-lg-12">

            <div class=" overflow-auto content-section">
                <div class="overflow-auto row " style=" background-color: blueviolet;">
                    <div  class="col-sm-2 ml-1"   *ngFor=" let col of  cols">
                    <br/>
                        <div  *ngFor=" let row of  rows">
                    <shemeta-menu> </shemeta-menu>
                    </div>
                    </div></div>
                    </div>
            </div>
        </div>

        <div class="row " style="float: inline-end;">

          <div class="sidebar-item"  style="float: inline-end;">
            <div class="make-me-sticky">
              <h3>Item 1</h3>
            </div>
          </div>


        </div>
        <!-- <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="#">Fixed bottom</a>
          </nav> -->
        </div>